<html>
  <head>
    <title>Video Streaming Demonstration</title>
  </head>
  <body>
    <h1>Video Streaming Demonstration</h1>
    <img id="bg" src="{{ url_for('video_feed') }}">
    </form>
   
    <form method="POST" action="">
      <input type="radio" name="control" id="p" value="PAUSE" checked /> PAUSE 
      <input type="radio" name="control" id="s" value="STOP" /> STOP 
      <br>

      <input type="submit" name="submit" id="sub" value="sub" /> sub 
    <br>
    </form>
  </body>
</html>